html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 시작 */
body {
    color: #212529;
}

.header {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 999;
}

.header_wraper {
    max-width: 1200px;
    width: 100%;
    padding: 12px 16px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}

.logo_wraper {
    display: inline-flex;
    align-items: center;
    margin: 0 40px 0 0;
}

.header_nav {
    display: inline-flex;
    align-items: center;
    padding-right: 40px;
    width: 100%;
}

.nav_ul {
    display: flex;
    flex-wrap: wrap;
}

.nav_orange:hover {
    color: #fa6616;
}

.nav_orange {
    color: #ff6f0f;
    font-size: 18px;
    font-weight: 550;
    margin: 0 30px 0 0;
    text-decoration: none;
    display: inline-block;
}

.nav_black:hover {
    color: #868b94;
}

.nav_black {
    color: #4d5159;
    font-size: 18px;
    font-weight: 550;
    margin: 0 30px 0 0;
    text-decoration: none;
}

.header_right {
    display: inline-flex;
}

.search_wraper {
    margin: 0 12px 0 0;
}

.header_search {
    width: 280px;
    line-height: 1.4;
    font-size: 16px;
    background-color: #f2f3f6;
    box-sizing: border-box;
    height: 40px;
    padding: 9px 12px;
    border: none;
    border-radius: 6px;
    color: #212124;
}

.chat-btn {
    border-radius: 4px;
    border: 1px solid #ced4da;
    color: #212529;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    background-color: #fff;
    padding: 8px 16px;

    display: inline-block;
    width: 100px;
}

.chat-btn:hover {
    background-color: #f2f3f6;
    opacity: 0.7;
}

/* 메인 */
h1 {
    font-weight: 700;
}

#home-main-section-top {
    padding-top: 24px;
    background-color: #fbf7f2;
}

#home-main-section-top .home-main-title-top {
    padding-top: 270px;
}

#home-main-section {
    padding: 60px 0;
    display: block;
}

#home-main-top {
    width: 1024px;
    height: 760px;
    margin: 0 auto;
    position: relative;
    background-color: #fbf7f2;
}

#home-main-content {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-main-desc {
    display: flex;
    flex-direction: column;
}

.home-main-title-top {
    font-size: 48px;
    line-height: 1.3;
    margin-bottom: 32px;
    letter-spacing: -0.4px;
}

.home-main-title {
    font-size: 40px;
    line-height: 1.3;
    margin-bottom: 32px;
    letter-spacing: -0.4px;
}

.home-main-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.3px;
}

.home-main-image {
    position: absolute;
    right: -84px;
    bottom: 0;
    width: 804px;
    height: 685px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 804px 685px;
}

.home-main-image-2 {
    background-size: 532px 684px;
    width: 532px;
    height: 684px;
}

.home-buttons {
    margin-top: 32px;
}

.home-button {
    background-color: #f1f3f5;
    color: #212529;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    padding: 14.5px 26px;
    display: inline-block;
    font-size: 18px;
    line-height: 1.47;
    letter-spacing: -0.3px;
    font-weight: bold;
}

.ml-3 {
    margin-left: 16px;
}

.background-pale-green {
    background-color: #e6f3e6;
}

.home-story-list {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.home-story-list-item {
    margin-right: 30px;
    margin-left: 0;
    max-width: 140px;
    font-size: 13px;
    line-height: 1.5;
    margin-top: 16px;
    margin-bottom: 16px;
}

.icon-story {
    width: 56px;
    height: 56px;
    background-size: 56px 56px;
}

.icon-story-01 {
    background-image: url("images/icon1.svg");
}

.icon-story-02 {
    background-image: url("images/icon2.svg");
}

.icon-story-03 {
    background-image: url("images/icon3.svg");
}

.icon-text {
    margin-bottom: 8px;
    margin-top: 16px;
    font-size: 14px;
    font-weight: bold;
}

.icon-descript {
    font-size: 13px;
    line-height: 1.5;
    width: 145px;
}

.text-center {
    text-align: center;
}

.cards-wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.background-gray {
    background-color: #f8f9fa;
}

.home-main-section {
    padding: 60px 0;
}

.home-main-section .home-hot-content {
    width: 1024px;
    margin: 60px auto 120px auto;
}

.cards-wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.cards-wrap .card-top,
.cards-wrap .card {
    width: calc(25% - 44px);
    margin-right: 44px;
    margin-bottom: 56px;
}

.cards-wrap .card-top .card-desc .card-title,
.cards-wrap .card .card-desc .card-title {
    font-size: 16px;
    letter-spacing: -0.02px;
    color: #212529;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    line-height: 1.5;
    font-weight: normal;
}

.cards-wrap .card-top .card-desc .card-counts,
.cards-wrap .card .card-desc .card-counts {
    color: #868e96;
    font-size: 13px;
}

textarea:focus,
input:focus {
    outline: none;
}

section,
article,
aside,
footer,
header,
nav,
hgroup {
    display: block;
}

.cards-wrap .card-link {
    text-decoration: none;
    color: #212529;
}

.cards-wrap .card-top .card-photo,
.cards-wrap .card .card-photo {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    background-color: #f8f9fa;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

.cards-wrap .card-top .card-photo img,
.cards-wrap .card .card-photo img {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid transparent;
}

.home-hot-content .home-main-title {
    margin-bottom: 80px;
}

.cards-wrap .card-top .card-desc .card-price,
.cards-wrap .card .card-desc .card-price {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 4px;
}

.cards-wrap .card-top .card-desc .card-region-name,
.cards-wrap .card .card-desc .card-region-name {
    font-size: 13px;
    color: #212529;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    line-height: 1.5;
}

.toggle-btn {
    text-align: center;
    background-color: #f8f9fa;
    margin: 0 auto;
    position: sticky;
}

#my_div {
    opacity: 1;
    transition: all 0.4s;
}
